<section class="section consultation" id="consultation">
  <h2 class="section--header">Consultation</h2>
  <h3 class="section--title">Your 4-week plan</h3>
  <!-- <p class="section--intro">Enlist me to help you turn your health around. A consultation will be a one-to-one chat covering your current routine and discussing where positive action can be made. A plan will be shared based on our conversation with the option for weekly catchups on progress over 4 weeks.</p> -->
  <p class="section--intro">The private consultations are aimed at people who want to embrace mindful living habits and reach their goals in terms of weight loss and health.</p>
  <p class="section--intro">Based on your life-style and commitments you will be given a four-week personalised living plan – including non-prescriptive dietary recommendations, which will guide you step-by-step in achieving optimum results on keto.</p>
  <table border="0" class="consultation-prices" cellspacing="0" cellpadding="0">
    <tr>
      <th>First 45 min consultation inc. 4-week plan</th>
      <td>£75</td>
    </tr>
    <tr>
      <th>Subsequent 30 min weekly catchup consultations</th>
      <td>£30</td>
    </tr>
  </table>
  <p class="event-book"><button class="event-book--action"><a href="mailto:info@ketolifecoach.me?subject=Consultation&#32;booking&#32;request">Request a consultation</a></button></p>
</section>
