<section class="contact col2" id="contact">
  <img src="{{ p.url | prepend: site.baseurl }}/assets/images/ana01-square.jpg" alt="Ana" class="contact--portrait" />
  <div class="contact-details">
      <h2>Get in touch</h2>
      <p>Contact me (Ana) to discuss your needs and let's figure out how we can get your health back on track!</p>
      <p><a href="mailto:info@ketolifecoach.me" class="contact--email">
            <img src="{{ p.url | prepend: site.baseurl }}/assets/images/icon--email.png" alt="Instagram" /> info@ketolifecoach.me
          </a>
</p>
  </div>
</section>
