  <h3 class="section--title">{{ site.data.events.event.title }}</h3>
  <p class="event--place"> {{ item.place }} </p>
{% for item in site.data.events.event.dates %} <!-- Get everything in the events file -->
<p class="event--date">
  <em>{{ item.time }} {{ item.date }} </em>
  <button id="checkout-button-{{ item.sku_id }}" role="link" class="event-book--action">Book online (£{{ site.data.events.event.price }})</button>
</p>
{% endfor %}
<p><small>Spaces still available, book soon.</small></p>

<div id="error-message"></div>
