<script src="https://js.stripe.com/v3"></script>
<section class="intersection">
  <img src="{{ p.url | prepend: site.baseurl }}/assets/images/ana01-w1200.jpg" alt="Ana" class="intersection--hero" />
</section>
<section class="section" id="events">
  <h2 class="section--header">Online workshops</h2>
  <div class="event">
    {% include event.html %}
  </div>
</section>

<section class="section virtualevents" id="consultation">
  <div class="event">
    <h2 class="section--header">One-to-one consultation</h2>
    <h3 class="section--title">Personal intro to keto</h3>
    <p class="event--place">Skype, Zoom, Facetime, or Google Meet</p>
    <p class="event--date">
      <em>Time and date to be arranged after payment</em>
      <button id="checkout-button-sku_H6LUueN2lwmyYT" role="link" class="event-book--action">Book online (£35)</button>
    </p>
    <h4>How does it work?</h4>
    <p class="section--intro">Within your first private online consultation we will cover the principles of a ketogenic diet - how to implement it successful, answer your questions, and we will talk thorough the best strategy for you to start the process of changing your eating habits and reaching optimal health.</p>
    <p class="section--intro">If you need additional support you can book as many follow up sessions needed to help you achieve your personal objectives of health and weight loss.</p>
    <p class="section--intro">Once you've booked I will email you to confirm the date and time for a live-chat through Skype, Facetime, Zoom, or Google Meet.</p>
  </div>
</section>

{% include stripe.html %}
