<section class="intersection">
  <img src="{{ p.url | prepend: site.baseurl }}/assets/images/ana01-w1200.jpg" alt="Ana" class="intersection--hero" />
</section>
<section class="section" id="events">
  <h2 class="section--header">Upcoming workshops</h2>
  <div class="event">
    <h3 class="section--title">Introduction to keto </h3>
    <p class="event--date">2pm–3pm Wed, 25 March 2020<br />
      7.30pm-8.30pm Thu, 26 March 2020</p>
    <p class="event--place"> West Kirby Arts Centre CH48 4EH</p>
    <p class="event-book"><button class="event-book--action"><a href="mailto:info@ketolifecoach.me?subject=Workshop&#32;booking&#32;request">Book a place – £15</a></button></p>
    <p><small>Maximum 20 spaces, book soon.</small></p>
  </div>
</section>
