<header class="header">
  <h1 class="brand"><a href="/"><img src="{{ p.url | prepend: site.baseurl }}/assets/images/logotype-k-bluebrown.png" alt="Keto Life Coach" class="brand--logo" /></a></h1>

  <nav class="header--nav">
      <ul>
          <li><a href="/#about">About</a></li>
          <li><a href="/#events">Workshops</a></li>
          <li><a href="/#consultation">Consultancy</a></li>
          <li><a href="/articles">Articles & research</a></li>
          <li><a href="/#contact">Contact</a></li>
      </ul>
  </nav>
  <div class="hamburger-wrap">
      <button class="hamburger" type="button">
          <span class="hamburger-box">
              <span class="hamburger-inner"></span>
          </span>
      </button>
  </div>

</header>
