<section class="section moreinfo" id="articles">
  <h2 class="section--header">Articles & useful research</h2>
  <h2 class="section--title">Getting to know keto</h2>
  <p class="section--intro">Some useful info so you can start this journey and make an informed decision about taking control of your body.</p>

  <div class="moreinfo-list">
    {% for item in site.data.facts %} <!-- Get everything in the facts file -->
    <aside class="moreinfo-list-item">
      <h3 class="moreinfo-list-item--title">{{ item.title }}</h3>
      <p class="moreinfo-list-item--desc">{{ item.text | markdownify }}</p>
    </aside>
    {% endfor %}
  </div>
  <p class="link--research"><a href="/articles">More useful research papers</a></p>
</section>
