<section class="cols col3 splash">
    <div class="col col-content">
      <h2>What is keto?</h2>
      <p>Keto is a diet that works for everybody, following a very simple protocol. A ketogenic diet is not new, it is not a fad diet,  and it is not expensive. It is a sustainable,  and delightful way of eating that your body will love.</p>
      <p>The diet works by forcing your body to use fat instead of ingested carbohydrates for fuel. In a nutshell, you will be losing weight rapidly, with no hunger and you will feel great long-term benefits in a sustainable way.</p>
      <p>On top, the byproduct of burning fats are ketones, which are a great source of energy for your brain.</p>
    </div>
    <div class="col col-content">
      <h2>Keto is for those who</h2>
      <ul>
        <li>want to lose weight quickly;</li>
        <li>are insulin resistant or borderline diabetic;</li>
        <li>want to transform their metabolism and dramatically make a positive change to their lives;</li>
        <li>want to reduce the risk of metabolic syndrome such as diabetes, cardiovascular disease, high blood pressure, high cholesterol;</li>
        <li>want optimum health & well-being at any stage of their lives.</li>
      </ul>
    </div>
    <div class="col col-content">
      <h2>Who's the coach?</h2>
      <p>My name is Ana. I've read psychology at the University of Liverpool and then furthered my interest in human behaviour at postgraduate level in counselling at the University of Chester.</p>
      <p>After 3 years of research and self-experimentation I have mastered the challenges of reaching optimum health. I will give you the practical advice you need from the vast amount of research behind the ketogenic diet. I will guide you through the process, in a way you feel most comfortable with.</p>
    </div>
</section>
