// Footer
.site-footer {
  min-height: 150px;
  padding: 50px 0;
  text-align: center;
  background-color: darken($brandcolor3, 15%);
}
.site-footer--logo {
  max-height: 80px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 .5em 0 0;
}
