// Header
.header {
  margin: 0 0 50px;
  padding: 0 10%;
  @include cf();
  background-color: white;
}
.brand {
  float: left;
  text-align: left;
  max-width: 200px;
  margin: 0;
  padding: 25px 0;
}
.brand--logo {
  max-width: 20%;
  min-width: 200px;

  @include transition();
  &:hover {
    transform: scale(1.05);
  }
}
