// hero

.strapline {
  font-weight: 500;
  font-size: .9em;
  text-transform: uppercase;
  text-align: center;
  color: $brandcolor2;
  margin: 0 auto;
  max-width: 30%;
  min-width: 300px;
  margin-top: 50px;
}

.hero {
  position: relative;
  text-align: center;
  overflow: visible;
}
.hero--title {
  font-size: 3.25em;
  max-width: 82%;
  min-width: 600px;
  margin: 0 auto 0;
  line-height: 1.1;
  padding: .25em .5em;
  color: $brandcolor2;
  text-shadow: 0 0 40px $brandcolor3;
  @include mq(small) {
    min-width: inherit;
    font-size: 2.25em;
  }
  @include mq(narrow) {
    font-size: 1.5em;
    padding-top: 100px;
  }
}
.hero--text {
  border-top: 12px solid $brandcolor2;
  color: $brandcolor2;
  max-width: 72%;
  padding-top: 1em;
  margin: 0 auto;
  @include mq(narrow) {
    font-size: .85em;
  }
  p {
    margin: 0 0 1em;
  }
}
.hero-ctas {
  max-width: 65%;
  margin: 25px auto;
  background-color: $brandcolor3;
  min-height: 100px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  max-width: 100%;
  padding: 1em 10% 0;
  // box-shadow: 0 10px 10px transparentize($brandcolor2,0.95); // <-- feint shadow effect but shows before it becomes sticky. Will try to fix at a later date.

  @include mq(small) {
    min-height: 100px;
  }
  @include mq(narrow) {
    min-height: 150px;
  }
}
.hero-ctas--cta {
  background-color: $brandcolor2;
  width: 48%;
  &:hover {
    background-color: lighten($brandcolor2,5%);
  }

  @include mq(medium) {
    font-size: .95em;
  };
  @include mq(small) {
    font-size: .7em;
  };
  @include mq(narrow) {
    font-size: .7em;
    width: 100%;

  };
  &:first-of-type {
    margin-right: 2%;
    @include mq(small) {
      margin-right: 2%;
      margin-bottom: 1em;
    };
    @include mq(narrow) {
      margin-right: 0;
      margin-bottom: 1em;
    };

  }
}
.hero--sticker {
  background-color: $brandcolor5;
  color: $brandcolor4;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: .7em;
  display: block;
  position: absolute;
  z-index: 1000;
  right: 10%;
  top: -60px;
  line-height: 1.1;
  // z-index: -1;
  @include mq(small) {
    top: -120px;
  }
  @include mq(narrow) {
    right: 50%;
    top: -100px;
    transform: translateX(50px);
  }

  em {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    font-style: normal;
  }
}
