// splash

.splash {
  padding: 65% 9% 50px 9%;
  background: transparent url(/assets/images/hero1.jpg) 0 -100px no-repeat; // Image attribution: Brooke Lark – Unsplash – brooke-lark-jUPOXXRNdcA-unsplash
  background-size: contain;

  @include mq(small) {
    background-size: contain;
    background-position: 0 -100px;
  }
  @include mq(narrow) {
    background-position: 0 -50px;
    padding-bottom: 0;
  }
}
