// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "mixins",
        "colours",
        "header",
        "hero",
        "splash",
        "events",
        "consultation",
        "moreinfo",
        "footer",
        "page",
        "research";

$backgroundColor: $brandcolor3;
$bodyColor: #222;
$bodyFont: campaign, "Helvetica Neue", sans-serif;

html {
  scroll-behavior: smooth;
}
body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  word-spacing: -.075em;
  font-weight: 700;
}
p {
  word-spacing: -.075em;
}
strong, b {
  font-weight: 700;
}
table {
  word-spacing: -.075em;
}
button {
  border-radius: 5px;
  font-weight: 700;
  @include transition();
  &:hover {
    transform: scale(1.05);
  }
  a {
    padding: 1em 0;
    display: inline-block;
    width: 100%;
    @include transition();
  }
  a:link,a:visited {
    color: $brandcolor3;
  }
  a:hover,a:active {
    transform: scale(1.03);
    }
}

.cols {
  margin: 50px 0 0;
  background-color: $brandcolor3;
}
.col2 {
  column-count: 2;
  column-gap: 5%;
}
.col3 {
  column-count: 3;
  column-gap: 5%;
  @include mq(small) {
    column-count: 1;
    column-gap: 0;
  }

}
.col {
  column-span: 1;
  column-width: 33%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  break-after: column;
  @include mq(small) {
    column-span: all;
    column-width: 100%;
    margin-bottom: 50px;
  }

}
.col-content {
  font-size: .85em;
  h2 {
    font-size: 1.25rem;
    color: $brandcolor2;
    margin: 0 0 .5em;
  }
  p {
    margin: 0 0 .5em;
    &:first-of-type:first-line {
      font-weight: 700;
    }
  }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  @include mq(medium) {
    // font-size: 1.5rem;

  }
  @include mq(small) {
    // font-size: 1.2rem;

  }
  @include mq(narrow) {
    font-size: 1rem;
  }

  li {
    margin-left: 1em;
    margin-bottom: .25em;
    text-align: left;
    display: inline-block;

    &:before {
      content: "\2022";
      float: left;
      text-align: right;
      margin: 0 0 0 -2.5em;
      width: 2em;
      color: $brandcolor1;
      font-weight: 700;
      font-size: 1em;
      // line-height: 1;
    }
  }
}
}
.section {
  text-align: center;
  margin: 0 0 25px;
  padding: 25px 0 50px;
  @include mq(small) {
    padding: 25px 0;
    margin-bottom: 25px;
  }
}
.section--header {
  font-size: 1.5em;
  color: $brandcolor5;
  margin: 75px 0 25px;
  @include mq(narrow) {
    font-size: 1.1em;
    margin: 25px 0;
  }

}
.section--title {
  font-size: 3.25em;
  color: $brandcolor2;
  line-height: 1;
  @include mq(small) {
    min-width: inherit;
    font-size: 2em;
  }
  @include mq(narrow) {
    font-size: 1.5em;
  }

}
.section--intro {
  width: 72%;
  margin: 1em auto;
  @include mq(small) {
    width: 90%;
  }
  @include mq(narrow) {
    font-size: .85em;
  }
}
.intersection--hero {
  width: 100%;
}
.content-only {
  max-width: 82%;
  margin: 0 auto;
  text-align: justify;
  @include mq(narrow) {
    text-align: left;
  }
  p {
    margin: 0 0 1em;
  }
}
.stripe--logo {
  max-width: 150px;
}
