// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "mixins",
        "colours";

$backgroundColor: $brandcolor3;
$bodyColor: #222;
$bodyFont: campaign, "Helvetica Neue", sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 700;
}
.header {
  margin: 0 0 50px;
}
.brand {
  text-align: center;
  max-width: 21%;
  min-width: 250px;
  margin: 0 auto;
  padding: 25px 0;
  background-color: $brandcolor1;
}
.brand--logo {
  max-width: 20%;
  min-width: 200px;
}
.strapline {
  font-weight: 500;
  font-size: .9em;
  text-transform: uppercase;
  text-align: center;
  color: $brandcolor2;
  margin: 25px auto 0;
  max-width: 30%;
  min-width: 300px;
}
.hero {
  position: relative;
  text-align: center;
  overflow: visible;

}
.hero--title {
  font-size: 3.25em;
  max-width: 82%;
  min-width: 600px;
  margin: 0 auto 0;
  line-height: 1.1;
  padding: .25em .5em;
  color: $brandcolor2;
}
.hero--text {
  border-top: 12px solid $brandcolor2;
  color: $brandcolor2;
  max-width: 72%;
  padding-top: 1em;
  margin: 0 auto;
  p {
    margin: 0 0 1em;
  }
}
.hero-ctas {
  max-width: 65%;
  margin: 25px auto;
  background-color: $brandcolor3;
  min-height: 100px;
}
.hero-ctas--cta {
  background-color: $brandcolor2;
  border-radius: 5px;
  font-weight: 700;
  width: 48%;
  @include transition();
  &:hover {
    background-color: lighten($brandcolor2,5%);
  }

  @include mq(medium) {
    font-size: .95em;
  };
  @include mq(small) {
    font-size: .8em;
  };
  @include mq(small) {
    font-size: 1em;
    width: 100%;

  };
  &:first-of-type {
    margin-right: 2%;
    @include mq(small) {
      margin-right: 0;
      margin-bottom: 25px;
    };
  }
  a {
    padding: 1em 0;
    display: inline-block;
    width: 100%;
    @include transition();
  }
  a:link,a:visited {
    color: $brandcolor3;
  }
  a:hover,a:active {
    transform: scale(1.03);
    }

}
.hero--sticker {
  background-color: $brandcolor5;
  color: $brandcolor4;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: .7em;
  display: block;
  position: absolute;
  right: 10%;
  top: -25px;
  line-height: 1.1;
  em {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    font-style: normal;
  }
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  max-width: 100%;
  padding: 25px 24% 25px;

}

.splash {
  padding: 800px 9% 50px 9%;
  background: $brandcolor1 url(/assets/images/hero1.jpg) 0 -350px no-repeat;
}
.col-content--wrap {
  background-color: $brandcolor1;
  height: 100%;
}
.col {
  margin: 50px 0;
  background-color: $brandcolor1;
}
.col3 {
  column-count: 3;
  column-gap: 5%;
}
.col3--col {
  column-span: 1;
  column-width: 33%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  break-after: column;
}
.col-content {
  font-size: .85em;
  h2 {
    font-size: 1.25rem;
    color: $brandcolor2;
    margin: 0 0 .5em;
  }
  p {
    margin: 0 0 .5em;
  }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  @include mq(medium) {
    // font-size: 1.5rem;

  }
  @include mq(small) {
    font-size: 1.2rem;

  }
  @include mq(narrow) {
    font-size: 1rem;
  }

  li {
    margin-left: 1em;
    margin-bottom: .25em;
    text-align: left;
    display: inline-block;

    &:before {
      content: "\2022";
      float: left;
      text-align: right;
      margin: 0 0 0 -2.5em;
      width: 2em;
      color: $brandcolor3;
      font-weight: 700;
      font-size: 1em;
      // line-height: 1;
    }
  }
}
}
