{% include head.html %}
{% include header.html %}
<script src="https://js.stripe.com/v3"></script>

<main class="page">
<section class="section">
  <h2 class="section--header">{{ page.title }}</h2>

      {{ content }}
      <p>
        <button id="checkout-button-{{ page.sku_id }}" role="link" class="event-book--action">Pay now (£{{ page.price }})</button>
      </p>
      <p class="stripe">
        <img class="stripe--logo" src="{{ p.url | prepend: site.baseurl }}/assets/images/logo-stripe.png" alt="Powered by Stripe" />
        </p>
    <div id="error-message" class="event--error">I'm sorry but something seems to have gone with the booking process. Please <a href="mailto:info@ketolifecoach.me">email me</a> if you see this message and I'll help out.</div>


</section>

</main>


{% for item in site.data.events.event.dates %}
<script>
(function() {
  var stripe = Stripe('pk_live_EfC0GnSUaoy2YbS6K9ZtdUq5000GF78qFj');

  var checkoutButton = document.getElementById('checkout-button-{{ item.sku_id }}');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: '{{ item.sku_id }}', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'http://www.ketolifecoach.me/success',
      cancelUrl: 'http://www.ketolifecoach.me/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
{% endfor %}

<script>
  // Online consultation
(function() {
  var stripe = Stripe('pk_live_EfC0GnSUaoy2YbS6K9ZtdUq5000GF78qFj');

  var checkoutButton = document.getElementById('checkout-button-sku_If0u6EagEpPwve');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_If0u6EagEpPwve', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'http://www.ketolifecoach.me/success',
      cancelUrl: 'http://www.ketolifecoach.me/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

{% include footer.html %}
